<div class="col s12">
    <div class="card card-{{ service.data.factionAbv }}">
        <div class="card-content center-align">
            <h2 class="heading heading-caption heading heading-caption-caption">
                <a href="{{ config.baseUrl }}/profiles/outfit/{{ service.data.outfit.data.id }}">
                    {{ service.data.outfit.data.name }}
                </a>
            </h2>
            <p class="caption">
                Outfit
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption heading heading-caption-caption">
                {{ service.data.serverName }}
            </h2>
            <p class="caption">
                Server
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.metrics.data.kills }}
            </h2>
            <p class="caption">
                Kills
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.metrics.data.deaths }}
            </h2>
            <p class="caption">
                Deaths
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.metrics.kd }}
            </h2>
            <p class="caption">
                Avg K/D
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.metrics.data.teamkills }}
            </h2>
            <p class="caption">
                Teamkills
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.metrics.data.suicides }}
            </h2>
            <p class="caption">
                Suicides
            </p>
        </div>
    </div>
</div>

<div class="col l2 m3 s6 offset-l2 offset-m0">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.metrics.data.headshots }}
            </h2>
            <p class="caption">
                Headshots
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.data.census.data.battleRank.current }}
            </h2>
            <p class="caption">
                Battle Rank
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6 offset-m3">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.metrics.killsPerAlert }}
            </h2>
            <p class="caption">
                Avg Kills / Alert
            </p>
        </div>
    </div>
</div>
<div class="col l2 m3 s6">
    <div class="card blue-grey darken-3">
        <div class="card-content center-align">
            <h2 class="heading heading-caption">
                {{ service.metrics.deathsPerAlert }}
            </h2>
            <p class="caption">
                Avg Deaths / Alert
            </p>
        </div>
    </div>
</div>
