<section id="real-time-monitor" ng-controller="RealTimeMonitorController">
    <div id="alert-monitor" ng-show="!websocket.hide">
        <div id="websocket-status">
            <div
                class="chip tooltipped websocket-disconnected"
                data-tooltip="Websocket has been disconnected! Check if your connection has dropped. If this persists, please contact @Maelstromeous!"
                data-position="left"
                ng-show="!websocket.loaded && !websocket.connecting && !websocket.disabled">
                <span class="disconnected">
                    <i class="fa fa-chain-broken"></i> Disconnected!
                </span>
            </div>
            <div
                class="chip tooltipped websocket-middleman-fail"
                data-tooltip="The Middleman API or Census is offline! PS2Alerts will not function without it. Please contact @Maelstromeous!"
                data-position="left"
                ng-show="websocket.middlemanDown == 1">
                <span class="middleman-fail">
                    <i class="fa fa-exclamation-circle"></i> Middleman API offline!
                </span>
            </div>
            <div
                class="chip tooltipped websocket-connecting"
                data-tooltip="Websocket is connecting..."
                data-position="left"
                ng-show="!websocket.loaded && websocket.connecting">
                <span class="connecting">
                    <i class="fa fa-refresh fa-spin"></i> Connecting
                </span>
            </div>
            <div
                class="chip tooltipped websocket-connected"
                data-tooltip="Data collection fully functional. All is well :-)"
                data-position="left"
                ng-show="websocket.loaded && !websocket.connecting">
                <span class="connected" ng-show="websocket.loaded">
                    <i class="fa fa-arrow-up"></i> Online
                </span>
            </div>
            <div
                class="chip tooltipped websocket-disabled"
                data-tooltip="Collection has been disabled."
                data-position="left"
                ng-show="websocket.disabled">
                <span class="disabled" ng-show="websocket.disabled">
                    <i class="fa fa-ban"></i> Disabled!
                </span>
            </div>
        </div>

        <div id="websocket-body" class="col s12 m10 l8 offset-m1 offset-l2">
            <div class="center-align">
                <div class="disabled" ng-show="websocket.disabled == 1">
                    <h3>{{ message }}</h3>
                    <p>{{ messageCaption }}</p>
                </div>
                <div class="row sk-three-bounce" ng-show="websocket.loaded == 0 && websocket.disabled == 0">
                    <h4>Connecting to Real Time monitor...</h4>
                    <div class="sk-child sk-bounce1"></div>
                    <div class="sk-child sk-bounce2"></div>
                    <div class="sk-child sk-bounce3"></div>
                </div>
                <div ng-show="!websocket.actives && websocket.loaded">
                    <h3>There are no alerts currently running</h3>
                    <h4>New alerts will show up here as they start</h4>
                </div>
                <div ng-show="websocket.middlemanDown == 1">
                    <h3>Middleman API is currently offline!</h3>
                    <h4>Alert Tracking will not function while this is down. Please contact <a href="https://www.reddit.com/u/jhett12321">/u/jhett12321</a> and let him know urgently!!</h4>
                    <p>
                        Note: You are still able to view statistics, however new alerts will not be detected until the service returns.
                    </p>
                </div>
                <div class="monitor-labels" ng-show="websocket.actives && websocket.loaded">
                    <div class="col s2">
                        <span>Server</span>
                    </div>
                    <div class="col s2">
                        <span>Continent</span>
                    </div>
                    <div class="col s2">
                        <span>Remaining</span>
                    </div>
                    <div class="col s6">
                        <span>Territory</span>
                    </div>
                </div>
            </div>
            <div ng-repeat="(id, alert) in websocket.actives">
                <div class="row monitor-row center-align" id="monitor-{{id}}">
                    <div class="col s4 m2">
                        <a
                            href="{{config.baseUrl}}/alert/{{alert.id}}"
                            class="ga-event"
                            ga-campaign="Real Time Monitor"
        					ga-action="Alert Click"
                            ga-label="{{id}}">
                            {{config.serverNames[alert.server]}}
                        </a>
                    </div>
                    <div class="col s4 m2">
                        {{config.zoneNames[alert.zone]}}
                    </div>
                    <div class="col s4 m2 countdown" todate="{{alert.countdown|date:'yyyy/MM/dd H:mm:ss'}}">
                        00:00:00
                    </div>
                    <div class="col s12 m6">
                        <territory-bar
                            vs="{{alert.vs}}"
                            nc="{{alert.nc}}"
                            tr="{{alert.tr}}"
                            draw="0"
                            total="100"
                            decimal="0">
                        </territory-bar>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
