<div class="row row-no-margin">
    <h2 class="center-align heading-caption">Class / Loadout Metric Distribution</h2>
    <h4 class="center-align">Statistics shown from 03-Jun-2015 to {{today | date : 'dd-MMM-yyyy'}}</h4>
    <p class="caption center-align">
        <i class="fa fa-info-circle"></i> The class metrics differ from global combat metrics as the collection of such data was implemented on 03-Jun-2015, about 7 months after the project began.
    </p>
    <div class="col s12 m6">
        <home-combat-class-metrics
            metric="kills"
            stats="combatStats"
            config="config"
            factions="factions">
        </home-combat-class-metrics>
    </div>
    <div class="col s12 m6">
        <home-combat-class-metrics
            metric="deaths"
            stats="combatStats"
            config="config"
            factions="factions">
        </home-combat-class-metrics>
    </div>
    <div class="col s12 m6">
        <home-combat-class-metrics
            metric="teamkills"
            stats="combatStats"
            config="config"
            factions="factions">
        </home-combat-class-metrics>
    </div>
    <div class="col s12 m6">
        <home-combat-class-metrics
            metric="suicides"
            stats="combatStats"
            config="config"
            factions="factions">
        </home-combat-class-metrics>
    </div>
    <div class="col s12 m6 offset-m3">
        <home-combat-class-metrics-kdr
            metric="kdr"
            stats="combatStats"
            config="config"
            factions="factions">
        </home-combat-class-metrics-kdr>
    </div>
</div>
