<div class="row">
    <div class="col s12 m6 l4">
        <home-combat-metric-card
            metric="kills"
            stats="combatStats"
            config="config">
        </home-combat-metric-card>
    </div>
    <div class="col s12 m6 l4">
        <home-combat-metric-card
            metric="deaths"
            stats="combatStats"
            config="config">
        </home-combat-metric-card>
    </div>
    <div class="col s12 m6 l4">
        <home-combat-metric-card
            metric="teamkills"
            stats="combatStats"
            config="config">
        </home-combat-metric-card>
    </div>
    <div class="col s12 m6 l4 offset-l2">
        <home-combat-metric-card
            metric="suicides"
            stats="combatStats"
            config="config">
        </home-combat-metric-card>
    </div>
    <div class="col s12 m6 l4 offset-m3">
        <home-combat-metric-card
            metric="headshots"
            stats="combatStats"
            config="config">
        </home-combat-metric-card>
    </div>
</div>
