<div class="row">
    <div class="col s12 filters center-align">
        <button
            ng-class="playersServer != 0 ? 'btn-inactive' : ''"
            class="btn waves-effect waves-light ga-event"
            ng-click="changePlayerServer(0)"
            ga-campaign="Leaderboards - Top Players"
            ga-action="Filters - Servers"
            ga-label="All">
                All
        </button>
        <button
            ng-repeat="server in config.serversAlpha"
            ng-class="playersServer != server ? 'btn-inactive' : ''"
            class="btn waves-effect waves-light ga-event"
            ng-click="changePlayerServer(server)"
            ga-campaign="Leaderboards - Top Players"
            ga-action="Filters - Servers"
            ga-label="{{::config.serverNames[server]}}">
                {{::config.serverNames[server]}}
        </button>
    </div>
    <p class="caption center-align">
        Servers
    </p>
    <div class="col s12 filters center-align">
        <button
            ng-repeat="sorting in playersSortingOptions"
            ng-class="playersSorting.indexOf(sorting) == -1 ? 'btn-inactive' : ''"
            class="btn waves-effect waves-light ga-event"
            ng-click="changePlayerSorting(sorting)"
            ga-campaign="Leaderboards - Top Players"
            ga-action="Filters - Sorting"
            ga-label="{{::sorting}}">
                {{::sorting }}
        </button>
    </div>
    <p class="caption center-align">
        Sorting
    </p>
</div>
