<div class="row">
    <div class="col s12 filters center-align button-row">
        <button
            ng-repeat="sorting in weaponsSortingOptions"
            ng-class="weaponsSorting.indexOf(sorting) == -1 ? 'btn-inactive' : ''"
            class="btn waves-effect waves-light ga-event"
            ng-click="changeWeaponSorting(sorting)"
            ga-campaign="Leaderboards - Weapons"
            ga-action="Filters"
            ga-label="{{::sorting}}">
                {{::sorting }}
        </button>
    </div>
    <p class="caption center-align">
        Sorting
    </p>
</div>
