<div class="victory-card card {{cardClass}}">
    <div class="card-content">
        <p class="card-title center-align">{{::cardTitle}}</p>
    </div>
    <div class="collection" style="display: block;">
        <div class="collection-item grey-text">
            <div>
                <span ng-show="faction == 'draw'">Draws</span>
                <span ng-show="faction != 'draw'">Victories</span>
                <span class="badge" ng-hide="stats.alerts[faction] > 0">
                    <i class="fa fa-refresh fa-spin"></i>
                </span>
                <span class="badge" ng-show="stats.alerts[faction] > 0">
                    <b>{{stats.alerts[faction] | number}}</b>
                    /
                    {{stats.alerts[faction] / stats.alerts.total * 100 | number: 1}}%
                </span>
            </div>
        </div>
        <div class="collection-item grey-text" ng-hide="faction == 'draw'">
            <div>
                Dominations
                <span class="badge" ng-hide="stats.dominations[faction] > 0">
                    <i class="fa fa-refresh fa-spin"></i>
                </span>
                <span class="badge" ng-show="stats.dominations[faction] > 0">
                    <b>{{stats.dominations[faction] | number}}</b>
                    /
                    {{stats.dominations[faction] / stats.dominations.total * 100 | number: 1}}%
                </span>
            </div>
        </div>
        <div class="collection-item grey-text" ng-show="faction == 'draw'">
            Dominations<span class="badge">N/A</span>
        </div>
    </div>
</div>
