<!DOCTYPE html>
<html lang="en" ng-app="Ps2Alerts">
    <head>
        <base href="/">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% set _desc = block('description') %}

        {% if _desc is not empty %}
            {% set description = _desc %}
        {% else %}
            {% set description = "PS2Alerts is a community resource for tracking all metagame events called \"Alerts\" within the video game of Planetside 2." %}
        {% endif %}
        <meta property="og:image" content="{{ asset_url }}/img/facebook-share.png" />
        <meta property="og:url" content="{{ base_url ~ current_path }}" />
        <meta property="description" content="{{ description }}" />
        <meta property="og:description" content="{{ description }}" />
        <meta property="og:type" content="website" />
        {% block meta %}{% endblock %}

        <title ng-bind="title">{% block title %}{% endblock %}</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Orbitron:400,700" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/css/materialize.min.css" type="text/css">
        <link rel="stylesheet" href="https://cdn.datatables.net/scroller/1.4.1/css/scroller.dataTables.min.css" type="text/css">
        <link rel="stylesheet" href="{{ asset_url }}/css/main.css{{ version }}" type="text/css">
        <link rel="icon" href="{{ asset_url }}/img/favicon.ico">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body class="blue-grey darken-4">
        <header>
            <div site-header></div>
<!--            <div-->
<!--                ng-include="'views/common/realtime.monitor.html'"-->
<!--                class="grey darken-3 row row-no-margin">-->
<!--            </div>-->
            <div site-search></div>
            <div class="progress">
                <div class="determinate" style="width: 100%"></div>
            </div>
        </header>
        <main>
            <div class="row">
                <div class="col s12" ng-view></div>
            </div>
        </main>
        {% include 'common/footer.html' %}
        {% include 'common/scripts.html' %}
    </body>
</html>
