<div class="territory-bar z-depth-1 grey darken-3 project-status">
    <div class="loading" ng-hide="total > 0">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div class="segment completed" style="width:{{completed / total * 100 | number: 2}}%" ng-show="completed > 0">
        <span class="segment-metric" ng-show="(completed / total * 100) > 5" numerical="{{completed}}">
            {{completed}} ({{completed / total * 100 | number:decimal}}%)
        </span>
    </div>
    <div class="segment inprogress" style="width:{{inprogress / total * 100 | number: 2}}%" ng-show="inprogress > 0">
        <span class="segment-metric" ng-show="(inprogress / total * 100) > 5" numerical="{{inprogress}}">
            {{inprogress}} ({{inprogress / total * 100 | number:decimal}}%)
        </span>
    </div>
    <div class="segment started" style="width:{{started / total * 100 | number: 2}}%" ng-show="started > 0">
        <span class="segment-metric" ng-show="(started / total * 100) > 5" numerical="{{started}}">
            {{started}} ({{started / total * 100 | number:decimal}}%)
        </span>
    </div>
    <div class="segment notstarted" style="width:{{notstarted / total * 100 | number: 2}}%" ng-show="notstarted > 0">
        <span class="segment-menotstartedic" ng-show="(notstarted / total * 100) > 5" numerical="{{notstarted}}">
            {{notstarted}} ({{notstarted / total * 100 | number:decimal}}%)
        </span>
    </div>
</div>
