<div class="col {{::sizing}} project-status">
    <div class="card blue-grey darken-3">
        <div class="card-content">
            <div class="center-align">
                <h2 class="header-no-margin">
                    <a href="{{::project.href}}">
                        {{::project.title}}
                    </a>
                </h2>
                <h4>
                    {{::project.subtitle}}
                </h4>
            </div>
            <ul class="collapsible" data-collapsible="expandable">
                <li>
                    <div
                        class="collapsible-header completed ga-event"
                        ga-campaign="Project Status - {{::project.title}}"
                        ga-action="Toggled Completed">
                        <i class="fa fa-check-circle"></i> Completed
                        <span class="right">
                            {{::project.completed.length}} items
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li ng-repeat="item in project.completed">
                                {{::item}}
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div
                        class="collapsible-header inprogress ga-event"
                        ga-campaign="Project Status - {{::project.title}}"
                        ga-action="Toggled In Progress">
                        <i class="fa fa-refresh"></i> In Development
                        <span class="right">
                            {{::project.inprogress.length}} items
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li ng-repeat="item in project.inprogress">
                                {{::item}}
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div
                        class="collapsible-header started ga-event"
                        ga-campaign="Project Status - {{::project.title}}"
                        ga-action="Toggled On Hold">
                        <i class="fa fa-pause"></i> Started but on hold
                        <span class="right">
                            {{::project.started.length}} items
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li ng-repeat="item in project.started">
                                {{::item}}
                            </li>
                        </ul>
                    </div>
                </li>
                <li>
                    <div
                        class="collapsible-header notstarted ga-event"
                        ga-campaign="Project Status - {{::project.title}}"
                        ga-action="Toggled Not Started">
                        <i class="fa fa-minus-circle"></i> Not Started
                        <span class="right">
                            {{::project.notstarted.length}} items
                        </span>
                    </div>
                    <div class="collapsible-body">
                        <ul>
                            <li ng-repeat="item in project.notstarted">
                                {{::item}}
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
            <p class="caption center-align">
                Updated: {{::project.updated}}
            </p>
        </div>
    </div>
</div>
