@import 'variables';

.vs-back {
    background-color: @background-vs;
}

.nc-back {
    background-color: @background-nc;
}

.tr-back {
    background-color: @background-tr;
}

.draw-back {
    background-color: @background-draw;
}

.card-vs {
    background-color: fadeout(@background-vs-dark, @card-trans) !important;
}

.card-nc {
    background-color: fadeout(@background-nc-dark, @card-trans) !important;
}

.card-tr {
    background-color: fadeout(@background-tr-dark, @card-trans) !important;
}

.card-draw {
    background-color: fadeout(@background-draw-dark, @card-trans) !important;
}

.vs-table-text {
    color: #9A6FFF;
}

.nc-table-text {
    color: #4FA7F7;
}

.tr-table-text {
    color: #FD4747;
}

.draw-table-text {
    color: #D6D6D6;
}

.indar-back {
    background-color: rgb(154, 136, 84);
}

.hossin-back {
    background-color: #394E3A;
}

.amerish-back {
    background-color: #5E8C3D;
}

.esamir-back {
    background-color: #457B9C;
}
