<div class="row">
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">{{alert.metrics.combat.kills.total}}</h1>
                <p class="caption">
                    Kills
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.kills.vs}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.kills.nc}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.kills.tr}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.combat.deaths.total}}
                </h1>
                <p class="caption">
                    Deaths
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.deaths.vs}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.deaths.nc}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.deaths.tr}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.combat.teamkills.total}}
                </h1>
                <p class="caption">
                    Teamkills
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.teamkills.vs}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.teamkills.nc}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.teamkills.tr}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.combat.suicides.total}}
                </h1>
                <p class="caption">
                    Suicides
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.suicides.vs}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.suicides.nc}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.suicides.tr}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.combat.kills.total / alert.metrics.combat.deaths.total | number: 2}}
                </h1>
                <p class="caption">
                    Overall K/D
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.kills.vs / alert.metrics.combat.deaths.vs | number: 2}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.kills.nc / alert.metrics.combat.deaths.nc | number: 2}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.kills.tr / alert.metrics.combat.deaths.tr | number: 2}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.kpms.total | number: 2}}
                </h1>
                <p class="caption">
                    Kills Per Minute (KPM)
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.kpms.vs | number: 1}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.kpms.nc | number: 1}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.kpms.tr | number: 1}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.dpms.total | number: 2}}
                </h1>
                <p class="caption">
                    Deaths Per Minute (DPM)
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.dpms.vs | number: 1}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.dpms.nc | number: 1}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.dpms.tr | number: 1}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l3">
        <div class="card blue-grey darken-3">
            <div class="card-content center-align">
                <h1 class="heading-caption">
                    {{alert.metrics.combat.kills.total / alert.metrics.players.length | number: 2}}
                </h1>
                <p class="caption">
                    Average Kills per Player
                </p>
            </div>
            <div class="card-action">
                <div class="row row-no-margin">
                    <div class="col s4 center-align">
                        <h5 class="vs-table-text">
                            {{alert.metrics.combat.kills.vs / alert.metrics.factions.vs.players | number: 2}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="nc-table-text">
                            {{alert.metrics.combat.kills.nc / alert.metrics.factions.nc.players | number: 2}}
                        </h5>
                    </div>
                    <div class="col s4 center-align">
                        <h5 class="tr-table-text">
                            {{alert.metrics.combat.kills.tr / alert.metrics.factions.tr.players | number: 2}}
                        </h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
