html, body {
    height: 100%;
}

body {
    background-color: #263238;
    display: flex;
    align-items: center;
    color: #fff;
    box-shadow: 0 0 50px 15px inset #192225;
}

.background, .card {
    background-color: #37474f;
}

hr {
    border-top: 1px solid rgba(255,255,255,.5);
}

.btn-primary {
    background-color:rgb(41, 177, 164);
    border-color:rgb(41, 177, 164);
}

.btn-primary:hover {
    background-color:rgb(38, 166, 154);
    border-color:rgb(38, 166, 154);
}

.progress {
    background-color: #505050;
    margin-bottom: 1rem;
}

.list-group-item {
    background-color: #3d5258;
}