html, body {
    height: 100%;
}

body {
    background-color: #263238;
    color: #fff;
    padding-top: 2rem;
}

.background, .card {
    background-color: #37474f;
}

.logo {
    max-width: 250px;
    margin-bottom: 1rem;
}

hr {
    border-top: 1px solid rgba(255,255,255,.5);
}

.btn-primary {
    background-color:rgb(41, 177, 164);
    border-color:rgb(41, 177, 164);
}

.btn-primary:hover {
    background-color:rgb(38, 166, 154);
    border-color:rgb(38, 166, 154);
}

.progress {
    background-color: #505050;
    margin-bottom: 1rem;
}

.list-group-item {
    background-color: #3d5258;
}

.card {
    border: 0;
}