@layer utilities {
  .vs {
    @apply bg-purple-700;
    &.bg-leader {
      box-shadow: 0 0 10px #8e6bdd; background-color: #8055e5;
    }
  }
  .nc {
    @apply bg-blue-700;
    &.bg-leader {
      box-shadow: 0 0 10px #5aabff; background-color: #347dca;
    }
  }
  .tr {
    @apply bg-red-700;
    &.bg-leader {
      box-shadow: 0 0 10px #fb6060; background-color: #ef3d3d;
    }
  }
  .other {
    @apply bg-gray-600;
    &.bg-leader {
      box-shadow: 0 0 10px #ccc;
    }
  }
  .border-vs {
    @apply border-0 border-purple-500;
  }
  .border-nc {
    @apply border-0 border-blue-500;
  }
  .border-tr {
    @apply border-0 border-red-400;
  }
  .border-other {
    @apply border-0 border-gray-500;
  }
  .border-tint {
    border: 1px solid #5d6265;
  }
  .outofplay {
    @apply bg-gray-800;
    background: repeating-linear-gradient(45deg, #801a1a, #631c1c 10px, #881a1a 10px, #b94b4b 20px);
  }

  .bg-tint {
    @apply bg-primary bg-opacity-80;
  }
  .bg-tint-light {
    @apply bg-gray-600 bg-opacity-50;
  }
  .bg-vs {
    @apply bg-purple-800 bg-opacity-50;
  }
  .bg-nc {
    @apply bg-blue-700 bg-opacity-50;
  }
  .bg-tr {
    @apply bg-red-800 bg-opacity-50;
  }
  .bg-nso {
    @apply bg-gray-700;
  }
  .bg-indar {
    @apply bg-orange-500 bg-opacity-25;
  }
  .bg-hossin {
    @apply bg-teal-900 bg-opacity-25;
  }
  .bg-amerish {
    @apply bg-green-600 bg-opacity-25;
  }
  .bg-esamir {
    @apply bg-blue-700 bg-opacity-25;
  }

  .text-vs {
    @apply text-purple-500;
  }
  .text-nc {
    @apply text-blue-500;
  }
  .text-tr {
    @apply text-red-500;
  }
  .text-nso {
    @apply text-gray-600;
  }
}
