@layer utilities {
  @keyframes leaderVSPulse {
    0% { box-shadow: none }
    50% { box-shadow: 0 0 10px #8e6bdd; background-color: #8055e5; }
    100% { box-shadow: none }
  }

  @keyframes leaderNCPulse {
    0% { box-shadow: none }
    50% { box-shadow: 0 0 10px #5aabff; background-color: #347dca; }
    100% { box-shadow: none }
  }

  @keyframes leaderTRPulse {
    0% { box-shadow: none }
    50% { box-shadow: 0 0 10px #fb6060; background-color: #ef3d3d; }
    100% { box-shadow: none }
  }
  @keyframes leaderOtherPulse {
    0% { box-shadow: none }
    50% { box-shadow: 0 0 10px #ccc; }
    100% { box-shadow: none }
  }
  .vs {
    @apply bg-purple-700;
    &.bg-leader {
      animation: leaderVSPulse 3s infinite;
    }
  }
  .nc {
    @apply bg-blue-700;
    &.bg-leader {
      animation: leaderNCPulse 3s infinite;
    }
  }
  .tr {
    @apply bg-red-700;
    &.bg-leader {
      animation: leaderTRPulse 3s infinite;
    }
  }
  .other {
    @apply bg-gray-600;
    &.bg-leader {
      animation: leaderOtherPulse 3s infinite;
    }
  }
  .border-vs {
    @apply border border-purple-500;
  }
  .border-nc {
    @apply border border-blue-500;
  }
  .border-tr {
    @apply border border-red-400;
  }
  .border-other {
    @apply border border-gray-500;
  }
  .outofplay {
    @apply bg-gray-800;
    background: repeating-linear-gradient(45deg, #801a1a, #631c1c 10px, #881a1a 10px, #b94b4b 20px);
  }

  .bg-tint {
    @apply bg-primary bg-opacity-80;
  }
  .bg-tint-light {
    @apply bg-gray-600 bg-opacity-50;
  }
  .bg-vs {
    @apply bg-purple-800 bg-opacity-50;
  }
  .bg-nc {
    @apply bg-blue-700 bg-opacity-50;
  }
  .bg-tr {
    @apply bg-red-800 bg-opacity-50;
  }
  .bg-nso {
    @apply bg-gray-700;
  }
  .bg-indar {
    @apply bg-orange-500 bg-opacity-25;
  }
  .bg-hossin {
    @apply bg-teal-900 bg-opacity-25;
  }
  .bg-amerish {
    @apply bg-green-600 bg-opacity-25;
  }
  .bg-esamir {
    @apply bg-blue-700 bg-opacity-25;
  }

  .text-vs {
    @apply text-purple-500;
  }
  .text-nc {
    @apply text-blue-500;
  }
  .text-tr {
    @apply text-red-500;
  }
  .text-nso {
    @apply text-gray-600;
  }
}
