@layer base {
  html#streaming {
    overflow: hidden;
    background-color: rgba(0,0,0,0);
    background-image: none;
    background-size: cover;
  }
  main.streaming {
    @apply text-gray-300;
    height: 100%;
    background-repeat: repeat;
    margin: 0;
  }
}
