@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-800;
  }

  /* Fix for background showing on top of image when content is quite short */
  body {
    min-height: 100vh;
  }
}

@layer utilities {
  .router-link-active, .btn-active {
    @apply bg-red-600 !important;
  }
}

/* COLOURS */
@layer utilities {
  .vs {
    @apply bg-purple-700;
    &.bg-leader {
      box-shadow: 0 0 10px #8e6bdd; background-color: #8055e5;
    }
  }
  .nc {
    @apply bg-blue-700;
    &.bg-leader {
      box-shadow: 0 0 10px #5aabff; background-color: #347dca;
    }
  }
  .tr {
    @apply bg-red-700;
    &.bg-leader {
      box-shadow: 0 0 10px #fb6060; background-color: #ef3d3d;
    }
  }
  .other {
    @apply bg-gray-600;
    &.bg-leader {
      box-shadow: 0 0 10px #ccc;
    }
  }
  .border-vs {
    @apply border-0 border-purple-500;
  }
  .border-nc {
    @apply border-0 border-blue-500;
  }
  .border-tr {
    @apply border-0 border-red-400;
  }
  .border-other {
    @apply border-0 border-gray-500;
  }
  .border-tint {
    border: 1px solid #5d6265;
  }
  .outofplay {
    @apply bg-gray-800;
    background: repeating-linear-gradient(45deg, #801a1a, #631c1c 10px, #881a1a 10px, #b94b4b 20px);
  }

  .bg-tint {
    background-color: #39444B;
  }
  .bg-tint-light {
    @apply bg-gray-600 bg-opacity-50;
  }
  .bg-vs {
    @apply bg-purple-800 bg-opacity-50;
  }
  .bg-nc {
    @apply bg-blue-700 bg-opacity-50;
  }
  .bg-tr {
    @apply bg-red-800 bg-opacity-50;
  }
  .bg-nso {
    @apply bg-gray-700;
  }
  .bg-indar {
    @apply bg-orange-500 bg-opacity-25;
  }
  .bg-hossin {
    @apply bg-teal-900 bg-opacity-25;
  }
  .bg-amerish {
    @apply bg-green-600 bg-opacity-25;
  }
  .bg-esamir {
    @apply bg-blue-700 bg-opacity-25;
  }

  .text-vs {
    @apply text-purple-500;
  }
  .text-nc {
    @apply text-blue-500;
  }
  .text-tr {
    @apply text-red-500;
  }
  .text-nso {
    @apply text-gray-600;
  }
}

/* CUSTOM OVERRIDES */

@layer base {
  html {
    @apply text-white;
    background-image: url('../img/bg-tile.jpg');
    background-repeat: repeat;
    margin: 0;
  }

  #app {
    @media (max-width: 1023px) {
      display: block;
    }
  }

  #panel-left {
    max-width: 350px;
    @media (max-width: 1023px) {
      max-width: inherit;
    }
    @media (min-width: 1024px) {
      position: fixed;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }
  }

  #panel-left::-webkit-scrollbar {
    width: 0;
    background: transparent;
  }

  #panel-right {
    @media (min-width: 1024px) {
      margin-left: 350px;
    }
  }

  h1 {
    @apply text-3xl;
  }

  .text-title {
    @apply text-5xl;
  }

  .text-subtitle {
    @apply text-3xl;
  }

  .content-spacing {
    @apply mb-4;
  }

  .rounded-none {
    border-radius: 0;
  }

  .border-no-bottom {
    &:last-child {
      @apply border-transparent mb-0 pb-0
    }
  }

  ul {
    list-style-type: disc;
    margin-left: 1rem;
    margin-bottom: 1rem;
  }
}

@layer utilities {
  /* Buttons */
  .btn {
    @apply bg-red-800 font-bold rounded-md py-2 px-4 inline-block font-medium border-transparent;
    transition: background-color 0.25s ease-out;

    &:focus, &:active {
      @apply border-transparent outline-none;
    }
    &:hover {
      @apply bg-red-600;
    }
    &:disabled {
      @apply bg-gray-500;
    }

    &.no-hover {
      &:hover {
        @apply bg-red-600;
      }
    }
    &.twitch {
      background-color: #6441a5;
      &:hover {
        @apply bg-purple-600;
      }
    }
  }
  .btn-sm {
    @apply text-sm py-1 px-2 rounded-sm;
  }
  .btn-xs {
    @apply text-xs p-1 rounded-sm;
  }
  .btn-alt {
    @extend .btn;
    @apply bg-gray-700;

    &:hover {
      @apply bg-gray-600;
    }
  }
  .btn-group {
    @apply inline-flex;
    .btn {
      @extend .rounded-none;

      &:first-of-type {
        @apply rounded-l-md;
      }
      &:last-of-type {
        @apply rounded-r-md;
      }
    }
  }

  .card {
    @extend .bg-tint;
  }
  .card-sm {
    @apply rounded p-2;
  }

  .metric-card {
    @extend .card;
    @apply p-2 m-2 justify-center;
  }

  .metric-card-fw {
    @extend .metric-card;
    @apply pb-0;

    div {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    :last-child {
      @apply rounded-bl-sm rounded-br-sm;
    }
  }

  .faction-bar {
    width: 100%;
    height: 25px;
    white-space: nowrap;
    position: relative;

    .vertical-bar {
      position: absolute;
      top: -3px;
      width: 1px;
      height: 30px;
      line-height: 30px;
      border: 1px gold dashed;
      z-index: 2
    }

    .faction-bar-segment {
      width: 33%;
      height: 100%;
      display: inline-block;
      float: left;
      line-height: 25px;
      z-index: 1;

      div {
        line-height: 23px;
        height: 100%;
      }
    }
  }

  /* Typography */
  .editorial p {
    @apply content-spacing;

    &:last-child {
      @apply mb-0
    }
  }

  .editorial .text-title,
  .editorial .text-subtitle {
    @apply content-spacing;
  }


  /* Components */
  .alert-status {
    @extend .btn-sm;
    position: absolute;
    top: 0;
    right: 0;
  }

  .in-progress {
    @extend .alert-status;
    @apply rounded-tl-none rounded-br-none;

    svg {
      @apply text-red-600 ml-1;
    }

    .ping-circle {
      @apply w-4 h-4 absolute bg-red-800 rounded-full opacity-100;
      top: 0.4rem;
      right: 0.45rem;
    }

    .animate-ping {
      animation-duration: 2s;
    }

    .animate-pulse {
      animation: pulse 2s cubic-bezier(0.3, 0, 0, 0.9) infinite;
    }
  }
  @keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  .tag {
    @apply py-1 px-2 rounded-tl-sm rounded-tr-sm text-xs text-center font-bold;
    margin: -1rem;
    margin-bottom: 1rem;

    &.section {
      @apply bg-gray-900;
    }

    &.feature {
      @apply bg-green-800;
    }

    &.enhancement {
      @apply bg-blue-800;
    }

    &.announcement {
      @apply bg-orange-500;
    }

    &.fix {
      @apply bg-red-800;
    }

    &.known-issue {
      @apply bg-yellow-800;
    }
  }

  .datatable {
    @apply bg-tint rounded-md !important;
  }

  table {
    &.striped-row {
      tbody > tr:nth-child(odd) {
        background-color: rgb(68 85 95);
      }
      tbody > tr:nth-child(even) {
        @apply bg-gray-800;
      }
    }
    &.striped-col {
      td:nth-of-type(even) {
        @apply bg-gray-800;
      }
    }
    &.border-row {
      thead, tr {
        @apply border-2 border-gray-600
      }
      tr:last-of-type {
        @apply border-b-0
      }
    }
    &.border-col {
      td {
        @apply border-r-2 border-gray-600
      }
      td:last-child{
        @apply border-0;
      }
    }
    &.hover {
      overflow: hidden;

      tr {
        transition: background-color 0.25s ease-out;
        &:hover {
          background-color: #2C393F;
        }
      }
      td, th {
        position: relative;
      }
      td:hover::after,
      th:hover::after {
        content: "";
        position: absolute;
        background-color: rgb(0, 0, 0);
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
      }
    }
  }
}

/* VUETIFY OVERRIDES */
@layer utilities {
  td.text-middle {
    text-align: center;
  }

  .theme--dark {
    &.v-tabs-bar {
      background-color: #9b2c2c !important;
    }
    &.v-tabs-items {
      background-color: rgba(0, 0, 0, 0) !important;
    }
  }
}
