@import './colors.scss';
@import './custom.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply bg-gray-800;
  }

  /* Fix for background showing on top of image when content is quite short */
  body {
    min-height: 100vh;
  }
}

@layer utilities {
  .router-link-active, .btn-active {
    @apply bg-red-600 !important;
  }
}
