<div class="victory-card card blue-grey darken-3 center-align">
    <div class="card-content white-text">
        <h1 class="heading-caption">
            <div class="sk-three-bounce" ng-hide="metric > 0">
                <div class="sk-child sk-bounce1"></div>
                <div class="sk-child sk-bounce2"></div>
                <div class="sk-child sk-bounce3"></div>
            </div>
            <span ng-show="metric > 0">{{metric | number}}</span>
        </h1>
        <p class="caption">
            {{::cardTitle}}
        </p>
    </div>
</div>
