<div
    class="z-depth-1 grey darken-3 territory-bar-container"
    style="width: {{stats.classMetrics.classGroups.totals[class].kdr / stats.classMetrics.byMetric.kdr.max * 100}}%"
>
    <div class="percentmark per33" ng-show="stats.classMetricsLoaded" && ng-if="showsplitbars"></div>
    <div class="percentmark per66" ng-show="stats.classMetricsLoaded" && ng-if="showsplitbars"></div>
    <div class="loading" ng-show="!stats.classMetricsLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div
        class="territory-bar"
        ng-show="stats.classMetricsLoaded">
        <div
            ng-repeat="faction in factions"
            class="segment {{faction}}-segment segment-metric tooltipped"
            style="width: {{stats.classMetrics.classGroupFactionMetric[class][faction].kdr / stats.classMetrics.classGroups.totals[class].kdr * 100 / 3}}%"
            data-tooltip="{{stats.classMetrics.classGroupFactionMetric[class][faction].kdr | number:2}}"
            data-position="top">
            <span ng-if="(stats.classMetrics.classGroups.totals[class].kdr / stats.classMetrics.byMetric.kdr.max) * 100 > 30">
                {{ stats.classMetrics.classGroupFactionMetric[class][faction].kdr | number:2 }}
            </span>
        </div>
    </div>
</div>
