<nav class="grey darken-4" ng-controller="PageMetaController" id="header">
	<div class="nav-wrapper">
		<a href="#" data-activates="mobile-nav-tray" class="button-collapse">
			<i class="fa fa-bars"></i>
		</a>
		<ul class="left hide-on-med-and-down">
			<li class="waves-effect waves-light">
				<a
					href="{{::meta.baseUrl}}"
					class="nav-main ga-event"
					ga-campaign="Navigation Links"
					ga-action="Homepage Button">
					PS2Alerts VAULT
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/alert-history"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Alert History">
					<i class="fa fa-tasks fa-fw"></i>
					Alert History
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/leaderboards"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Leaderboards">
					<i class="fa fa-users fa-fw"></i>
					Leaderboards
				</a>
			</li>
		</ul>
		<ul class="right hide-on-med-and-down">
			<li id="changelog-badge" class="waves-effect waves-light">
				<a
					href="{{::meta.baseUrl}}/change-log"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Change Log">
					<strong id="changelog-badge-count"></strong>
					Change Log
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/about"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="About">
					<i class="fa fa-info-circle fa-fw"></i>
					About
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/project-status"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Project Status">
					<i class="fa fa-check fa-fw"></i>
					Project Status
				</a>
			</li>
			<li class="waves-effect waves-light" class="tooltipped" data-tooltip="Report bugs and request features on GitHub!" data-position="bottom">
			    <a
			        href="https://github.com/ps2alerts"
			        target="_blank"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Github">
			        <i class="fa fa-github"></i>
			    </a>
			</li>
			<li class="waves-effect waves-light" class="tooltipped" data-tooltip="Follow the site on Twitter for updates!" data-position="bottom">
			    <a
			        href="https://www.twitter.com/PS2AlertTracker"
			        target="_blank"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="PS2Alerts Twitter">
			        <i class="fa fa-twitter"></i>
			    </a>
			</li>
			<li class="waves-effect waves-light" class="tooltipped" data-tooltip="PS2Alerts Chrome Extension" data-position="bottom">
			    <a
			        href="https://chrome.google.com/webstore/detail/planetside-2-alerts/bondapheaemfkkiabfjnhdempfmnikcg"
			        target="_blank"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Chrome Extension">
			        <i class="fa fa-chrome"></i>
			    </a>
			</li>
		</ul>
		<ul class="side-nav" id="mobile-nav-tray">
			<li class="waves-effect waves-light">
				<a
					href="{{::meta.baseUrl}}"
					class="nav-main ga-event"
					ga-campaign="Navigation Links"
					ga-action="Homepage Button">
					PS2Alerts
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/alert-history"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Alert History">
					<i class="fa fa-tasks fa-fw"></i>
					Alert History
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/leaderboards"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Leaderboards">
					<i class="fa fa-trophy fa-fw"></i>
					Leaderboards
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/about"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="About">
					<i class="fa fa-info-circle fa-fw"></i>
					About
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/change-log"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Change Log">
					<i class="fa fa-clock-o fa-fw"></i>
					Change Log
				</a>
			</li>
			<li class="waves-effect waves-light">
			    <a
					href="{{::meta.baseUrl}}/project-status"
					class="ga-event"
					ga-campaign="Navigation Links"
					ga-action="Project Status">
					<i class="fa fa-check fa-fw"></i>
					Project Status
				</a>
			</li>
		</ul>
	</div>
</nav>
<div id="site-notice" class="notice">
	<h2>
		PS2Alerts is back!
	</h2>
    <p>
		<i class="fa fa-info-circle"></i> PS2Alerts is being re-designed from the ground up! The old statistics have been <b>WIPED</b> as they stopped recording properly late 2017 and overall the statistics would now be polluted. 	    </p>
	<p>
		We are looking for contributors to help re-write the service, <a href="https://www.reddit.com/r/Planetside/comments/gfrwpo/ps2alerts_is_being_revived_looking_for_help/">click here if you're interested</a>.
    </p>
	<p>
		<small>Maelstromeous - PS2Alerts developer - Updated 30/May/2020</small>
	</p>
</div>
