<div class="col m10 s12 offset-m1">
    <div class="card blue-grey darken-3">
        <div class="card-content announcement" id="announcement">
            <div class="row row-no-margin center-align">
                <h1>
                    Welcome to PS2Alerts!
                </h1>
                <h3>
                    <em><b>The</b></em> source of Planetside 2 Alert Statistics
                </h3>
                <div>
                    <a
                        href="about"
                        class="ga-event btn waves-effect waves-light btn-fixed-width"
                        ga-campaign="Homepage Announcement"
                        ga-action="About">
                        <i class="fa fa-info-circle fa-fw"></i> About PS2Alerts
                    </a>
                    <a
                        href="alert-history"
                        class="ga-event btn waves-effect waves-light btn-fixed-width"
                        ga-campaign="Homepage Announcement"
                        ga-action="Alert History">
                        <i class="fa fa-tasks fa-fw"></i> Alert History
                    </a>
                    <a
                        href="leaderboards"
                        class="ga-event btn waves-effect waves-light btn-fixed-width"
                        ga-campaign="Homepage Announcement"
                        ga-action="Leaderboards">
                        <i class="fa fa-users fa-fw"></i> Leaderboards
                    </a>
                </div>
            </div>
        </div>

        <div class="card-action center">
            <a
                href="change-log"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Change Log">
                <i class="fa fa-clock-o"></i> Change Log
            </a>
            <a
                href="https://github.com/Maelstromeous/PS2Alerts"
                target="_blank"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Github link">
                <i class="fa fa-github"></i> Github
            </a>
            <a
                href="project-status"
                target="_blank"
                class="ga-event"
                ga-campaign="Homepage Announcement"
                ga-action="Project Status">
                <i class="fa fa-check"></i> Project Status
            </a>
            <!--<a
                href="#"
                class="ga-event pull-right"
                ga-campaign="Homepage Announcement"
                ga-action="Hide"
                ng-click="hide()"
                ng-show="!hidden"
                id="announcement-hide">
                <i class="fa fa-eye-slash"></i> Hide Announcement
            </a>
            <a
                href="#"
                class="ga-event pull-right"
                ga-campaign="Homepage Announcement"
                ga-action="Show"
                ng-click="show()"
                ng-show="hidden"
                id="announcement-show">
                <i class="fa fa-eye"></i> Show Announcement
            </a>-->
        </div>
    </div>
</div>
