<footer id="footer">
    <div class="container">
        Copyright 2013-{{ 'now'|date('Y') }} &copy; Matt Cavanagh (<a href="https://twitter.com/Maelstromeous" target="_blank" class="ga-event" ga-campaign="External Links" ga-action="Personal Twitter">@Maelstromeous</a>) and associated contributors.
        <br />
        <a
            href="https://www.planetside2.com"
            target="_blank"
            class="ga-event"
            ga-campaign="External Links"
            ga-action="Planetside 2 Website">
            Planetside 2&reg;
        </a>
        is the property of
        <a
            href="https://www.rogueplanetgaming.com/home"
            target="_blank"
            class="ga-event"
            ga-campaign="External Links"
            ga-action="Rogue Planet Games">
            Rogue Planet Games&trade;
        </a>
    </div>
</footer>
