<div
    class="z-depth-1 grey darken-3 territory-bar-container"
    style="width: {{stats.classMetrics.classGroups.totals[class][metric] / stats.classMetrics.byMetric[metric].total * 100 * 3.33}}%"
>
    <div class="percentmark per33" ng-show="stats.classMetricsLoaded" && ng-if="showsplitbars"></div>
    <div class="percentmark per66" ng-show="stats.classMetricsLoaded" && ng-if="showsplitbars"></div>
    <div class="loading" ng-show="!stats.classMetricsLoaded">
        <i class="fa fa-refresh fa-spin"></i>
    </div>
    <div
        class="territory-bar"
        ng-show="stats.classMetricsLoaded">
        <div
            ng-repeat="faction in factions"
            class="segment {{faction}}-segment segment-metric tooltipped"
            style="width: {{stats.classMetrics.classGroupFactionMetric[class][faction][metric] / stats.classMetrics.classGroups.totals[class][metric] * 100}}%"
            data-tooltip="{{stats.classMetrics.classGroupFactionMetric[class][faction][metric] | shortNumber:2}}"
            data-position="top">
            <span ng-if="(stats.classMetrics.classGroups.totals[class][metric] / stats.classMetrics.byMetric[metric].total * 100 * 3.33) > 40">
                {{ stats.classMetrics.classGroupFactionMetric[class][faction][metric] | shortNumber:1 }}
            </span>
        </div>
    </div>
</div>
