<div class="card blue-grey darken-3">
    <div class="card-content">
        <h3 class="center-align heading-caption">
            {{ metric | uppercase }}
        </h3>
        <p class="center-align caption">
            Avg {{metric | uppercase }} by all classes: <b>{{ stats.classMetrics.byMetric[metric].total | number:2 }}</b><br> Bars showing averages per faction, not total makeup.
        </p>
        <div class="combat-breakdowns class-combat {{ metric }}">
            <div class="row breakdown-row" ng-repeat="(class, faction) in stats.classMetrics.classGroupFactionMetric"  data-class="{{class}}">
                <div class="label">
                    <img src="{{ config.assetUrl }}/img/class-icons/{{ class }}-20.png" class="img-responsive">
                </div>
                <div class="bar">
                    <home-combat-bar-kdr
                        stats="stats"
                        class="class"
                        factions="factions"
                        showsplitbars="true">
                    </home-combat-bar-kdr>
                    <div class="total">
                        <p>
                            {{ stats.classMetrics.classGroups.totals[class][metric] | number:2 }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
