@layer base {
  body {
    background-image: url('../img/bg-tile.jpg');
    background-repeat: repeat;
    margin: 0;
  }

  .bg-tint {
    @apply bg-primary bg-opacity-80;
  }
  .bg-tint-light {
    @apply bg-gray-600 bg-opacity-50;
  }
  .bg-vs {
    @apply bg-purple-800 bg-opacity-50;
  }
  .bg-nc {
    @apply bg-blue-700 bg-opacity-50;
  }
  .bg-tr {
    @apply bg-red-800 bg-opacity-50;
  }
  .bg-nso {
    @apply bg-gray-700;
  }

  .theme-vs > div {
    @apply bg-purple-900 bg-opacity-80;
  }
  .theme-nc > div {
    @apply bg-blue-900 bg-opacity-80;
  }
  .theme-tr > div {
    @apply bg-red-900 bg-opacity-80;
  }

  h1 {
    @apply text-3xl;
  }

  .text-title {
    @apply text-5xl;
  }

  .text-subtitle {
    @apply text-3xl;
  }

  .content-spacing {
    @apply mb-4;
  }
}

@layer utilities {
  /* Buttons */
  .btn {
    @apply bg-red-800 font-bold rounded-md py-2 px-4 m-1 inline-block font-medium border-transparent;
    transition: background-color 0.25s ease-out;

    &:focus, &:active {
      @apply border-transparent outline-none;
    }

    &:hover {
      @apply bg-red-600;
    }
    &:disabled {
      @apply bg-gray-500;
    }
  }

  .btn-sm {
    @apply text-sm py-1 px-2 rounded;
  }
  .btn-xs {
    @apply text-xs p-1 rounded;
  }
  .btn-alt {
    @extend .btn;
    @apply bg-gray-700;

    &:hover {
      @apply bg-gray-600;
    }
  }

  .card {
    @extend .bg-tint;
    @apply rounded p-4;
  }
  .card-sm {
    @apply rounded p-2;
  }

  .metric-card {
    @extend .card;
    @apply p-2 m-2 justify-center;
  }

  .metric-card-fw {
    @extend .metric-card;
    @apply pb-0;

    div {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }

    :last-child {
      @apply rounded-bl rounded-br;
    }
  }

  /* Typography */
  .editorial p {
    @apply content-spacing;
  }

  .editorial .text-title,
  .editorial .text-subtitle {
    @apply content-spacing;
  }

  /* Components */
  .alert-status {
    @extend .btn-sm;
    position: absolute;
    top: 0;
    right: 0;
  }

  .in-progress {
    @extend .alert-status;
    @apply rounded-tl-none rounded-br-none;

    svg {
      @apply text-red-600 ml-1;
    }

    .ping-circle {
      @apply w-4 h-4 absolute bg-red-800 rounded-full opacity-100;
      top: 0.4rem;
      right: 0.45rem;
    }

    .animate-ping {
      animation-duration: 2s;
    }

    .animate-pulse {
      animation: pulse 2s cubic-bezier(0.3, 0, 0, 0.9) infinite;
    }
  }
  @keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
  }

  %tag {
    @apply py-1 px-2 rounded-tl rounded-tr text-xs text-center font-bold;
    margin: -1rem;
    margin-bottom: 1rem;
  }

  .section {
    @extend %tag;
    @apply bg-primary-dark;
  }

  .feature {
    @extend %tag;
    @apply bg-green-800;
  }

  .enhancement {
    @extend %tag;
    @apply bg-blue-800;
  }

  .fix {
    @extend %tag;
    @apply bg-red-800;
  }

  .known-issue {
    @extend %tag;
    @apply bg-yellow-800;
  }

  table {
    &.striped-row {
      tr:nth-child(even) {
        @apply bg-gray-800;
      }
    }
    &.striped-col {
      td:nth-of-type(even) {
        @apply bg-gray-800;
      }
    }
    &.border-row {
      thead, tr {
        @apply border-b border-gray-600
      }
      tr:last-of-type {
        @apply border-b-0
      }
    }
    &.border-col {
      td {
        @apply border-r border-gray-600
      }
      td:last-child{
        @apply border-0;
      }
    }
    &.hover {
      overflow: hidden;

      tr {
        transition: background-color 0.25s ease-out;
        &:hover {
          background-color: #2C393F;
        }
      }
      td, th {
        position: relative;
      }
      td:hover::after,
      th:hover::after {
        content: "";
        position: absolute;
        background-color: rgb(0, 0, 0);
        left: 0;
        top: -5000px;
        height: 10000px;
        width: 100%;
        z-index: -1;
      }
    }
  }
}