@layer base {
  .bg-main {
    background-color: #263239;
  }
  .bg-tint {
    background-color: #37474f;
  }
  .bg-vs {
    @apply bg-purple-900;
  }
  .bg-nc {
    @apply bg-red-900;
  }
  .bg-tr {
    @apply bg-blue-900;
  }

  h1 {
    @apply text-3xl;
  }

  .text-title {
    @apply text-5xl;
  }

  .text-subtitle {
    @apply text-3xl;
  }

  .content-spacing {
    @apply mb-4;
  }
}

@layer utilities {
  /* Buttons */
  .btn {
    @apply bg-red-600 font-bold rounded-md py-2 px-4 m-1 inline-block font-medium border-transparent;
  }
  .btn:hover {
    @apply bg-red-800;
  }
  .btn-sm {
    @apply text-sm py-1 px-2 rounded;
  }
  .btn-xs {
    @apply text-xs p-1 rounded;
  }

  .card {
    @apply rounded p-4;
  }
  .card-sm {
    @apply rounded p-2;
  }

  /* Typography */
  .editorial p {
    @apply content-spacing;
  }

  .editorial .text-title,
  .editorial .text-subtitle {
    @apply content-spacing;
  }

  /* Components */
  .alert-status {
    @extend .btn-sm;
    position: absolute;
    top: 0;
    right: 0;
  }

  .in-progress {
    @extend .alert-status;
    @apply bg-gray-600 rounded-tl-none rounded-br-none;

    svg {
      @apply text-red-600 mr-1;
    }

    .ping-circle {
      @apply w-4 h-4 absolute bg-red-800 rounded-full opacity-75;
      top: 0.4rem;
      left: 0.4rem;
    }
  }

  .blink {
    animation: blinker 1.5s cubic-bezier(.5, 0, 1, 1) infinite alternate;
  }
  @keyframes blinker {
    from { opacity: 1; }
    to { opacity: 0; }
  }
}