@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .bg-main {
    background-color: #263239;
  }
  .bg-tint {
    background-color: #37474f;
  }
  h1 {
    @apply text-3xl;
  }
}

@layer utilities {
  .router-link-active, .btn-active {
    @apply bg-red-800 !important;
  }
  .btn {
    @apply bg-red-600 font-bold rounded-md py-2 px-4 m-1 inline-block font-medium border-transparent;
  }
  .btn:hover {
    @apply bg-red-800;
  }
  .btn-sm {
    @apply font-bold py-1 px-2 rounded;
  }

  .faction-bar {
    width: 100%;
    height: 30px;
    white-space: nowrap;
  }

  .faction-bar-segment {
    width: 33%;
    height: 100%;
    display: inline-block;
    float: left;
    line-height: 30px;
  }
}