---
name: ESLint
on:
  push:
    branches: [revive]
  pull_request:
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.2
        with:
          node-version: '14.x'
      - name: Install modules
        run: npm install
      - name: Run ESLint
        run: npm run lint
