---
name: ESLint
on:
  push:
  pull_request:
jobs:
  eslint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install modules
        run: npm install
      - name: Run ESLint
        run: npm run lint
